<html>
  <body>
    <p>Hello,</p>
    <p>
      The price of
      <strong>{{chain}}</strong>
      has reached
      <strong>${{price}} USD</strong>, which meets your alert threshold of
      <strong>${{dollar}} USD</strong>.
    </p>
    <p>Best regards,<br />Crypto Monitor Team</p>
  </body>
</html>