<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{chain}} Price Alert</title>
  </head>
  <body>
    <p>Hello,</p>
    <p>
      The price of
      <strong>{{chain}}</strong>
      has reached
      <strong>${{price}} USD</strong>, which meets your alert threshold of
      <strong>${{dollar}} USD</strong>.
    </p>
    <p>Best regards,<br />ETH/POL Price Alert Team by Affan Mustafa</p>
  </body>
</html>